	
	
           .anasayfa{
			   background-color:rgb(158,152,158);
		   }
		   div.bolum3{
			   background-color:black;
			   width:750px;
			   display:flex;
			   flex-direction:column;
			   justify-content:center;
			   text-align:center;
			
		   }
		   .bolum3{
			    display:flex;
				gap:20px;
		   }
		   .qxy7{
			   background-color:rgba(210,252,252,0.8);
		   }
		   div.logo{
			   display:flex;
			   align-items:center;
			   justify-content:center;
			   background-color:white;
		   }
		   a{
			font-size:20px;
			border-radius:20px;
			border-style:solid;
			color:black;
		   }
		   .menu ul {
			   list-style:none;
			   display:flex;
			   gap:20px; 
			   justify-content:center;
		   }
		   h1{
			 text-align:center;
		   }
		   
		   
		   .anasayfa{
			   background-color:rgb(204,29,43);
		   }
		   .bolum1{
			   background-color:white;
			   margin-bottom:100px;
			   border-style:solid;
			   border-color:white;
			   border-width:10px;
		   }
		   div.soz{
			   display:flex;
			   align-items:center;
			   justify-content:center;
			   background-color:black;
			   border-style:dotted;
			   border-width:8px;
			   border-color:rgb(204,29,43);
		   }
		   .e4{
			   background-color:rgb(171,167,164);
		   }
		   .qx8i{
			   background-color:rgb(136,151,194);
		   }
		   .kesfet{
			   background-color:rgb(187,193,201);
		   }
		   .kesfet1{
			   display:flex;
			   flex-direction:column;
			   justify-content:space-between;
			   padding:20px;
		   }
		   .kesfet1 .bir{
			   margin-top:auto;
			   align-self:flex-start;
		   }
		   .sagbaslik{
			   position:absolute;
			   right:180px;
			   top:350px;
			   width:400px;
		   }